<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login App</title>
    <style>
        button{
            padding: 10px;
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Login App</h1>
    <h2>Login or Register as:</h2>

    <a href="/admin/register"><button>Register as Admin</button></a><br>
    <a href="/user/register"><button>Register as User</button></a><br>
    <a href="/admin/login"><button>Login as Admin</button></a><br>
    <a href="/user/login"><button>Login as User</button></a><br>
</body>
</html>